<div class="navbar-screen fixed-bottom row justify-content align-items-center">
  <div class="h4 col-3 d-flex justify-content-center p-2">
    <%= link_to root_path do %>
      <i class="fas fa-home text-white"></i>
    <% end %>
  </div>

  <div class="h4 col-3 d-flex justify-content-center p-2">
    <%= link_to astroboard_path do %>
      <i class="fas fa-meteor text-white"></i>
    <% end %>
  </div>

  <div class="h4 col-3 d-flex justify-content-center p-2">
    <%= link_to matches_path do %>
      <i class="fas fa-heart text-white"></i>
    <% end %>
  </div>

  <div class="h4 col-3 d-flex justify-content-center p-2">
    <%= link_to dashboard_path do %>
      <i class="fas fa-user text-white"></i>
    <% end %>
  </div>
</div>
