
<div class="navbar-screen d-flex fixed-bottom text-align-center">
  <div style="height:10vh"class="fixed-bottom d-flex justify-content-center">
    <div class="h4 p-4">
      <%= link_to root_path do %>
        <i class="fas fa-home-alt"></i>
      <% end %>
    </div>

    <div class="h4 p-4">
      <%= link_to astroboard_path do %>
        <i class="fas fa-meteor"></i>
      <% end %>
    </div>

    <div class="h4 p-4">
      <%= link_to matches_path do %>
        <i class="fas fa-comment-dots"></i>
      <% end %>
    </div>

    <div class="h4 p-4">
      <%= link_to dashboard_path do %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
  </div>
</div>
