<div class="container text-align-center mt-5">

  <div data-controller="dashboard">

    <div data-dashboard-target="table">
      <%= render "dashboard/table"%>
    </div>

    <div data-dashboard-target="circle" class="d-none">
      <%= render "dashboard/circle"%>
    </div>

    <br>

    <div class="d-flex justify-content-around navbar-menu z-1 pt-5">

      <h4 data-action="click->dashboard#table" data-dashboard-target="table_menu" class="lead">
        <em>Table</em>
      </h4>

      <h4>|</h4>

      <h4 data-action="click->dashboard#circle" data-dashboard-target="circle_menu">
        <em>Circle</em>
      </h4>

    </div>

  </div>

</div>
