<div class="container text-align-center pb-5">

  <div data-controller="dashboard">

    <div data-dashboard-target="table">
      <%= render "dashboard/table"%>
    </div>

    <div data-dashboard-target="circle" class="d-none">
      <%= render "dashboard/circle"%>
    </div>

    <div class="d-flex justify-content-around navbar-menu z-1">

      <h4 data-action="click->dashboard#table" data-dashboard-target="table_menu" class="lead">
        <%= I18n.t "astroboard.table" %>
      </h4>

      <h4>|</h4>

      <h4 data-action="click->dashboard#circle" data-dashboard-target="circle_menu">
        <%= I18n.t "astroboard.wheel" %>
      </h4>

    </div>

  </div>

</div>
