<div class="container text-align-center mt-5">
  <div class="">
    <%= image_tag "zodiac.svg", alt: "", class: "zodiac"%>
    <br>
    <div class=" border-bottom">
      <h4 >Today <%= Time.now.asctime %></h4>
    </div>
    <br>
    <div class="overflow-auto" height="250px">
      <p><%= @daily_horoscope %></p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
</div>
