  <div class="container mt-5">
    <div class="mb-3">
    <br>
      <p>
        <%= image_tag "#{current_user.sign.downcase}.svg", alt: "" %>
        <%= @daily_horoscope %>
      </p>
    </div>
  </div>
