  <div class="container mt-5">
    <div class="mb-3">
      <%= image_tag "#{current_user.sign.downcase}.svg", alt: "" %>
      <h5>Today</h5>
      <p><%= @daily_horoscope %></p>
    </div>
  </div>
