<div class="container text-align-center pt-1 pb-5">
  <%# <div class="horoscope-image mb-3"> %>
    <%#= image_tag "zodiac.svg", alt: "", class: "zodiac"%>
  <%# </div> %>

  <div class="border-bottom mb-2">
    <h4 ><%= I18n.t "astroboard.today" %> - <%= I18n.l(Date.today, :format => :long) %> </h4>
  </div>

  <div class="pb-5">
    <p><%= @daily_horoscope %></p>
  </div>
</div>
