<div class="container text-align-center pt-1 pb-5">
  <div class="horoscope-image mb-3">
    <%= image_tag "zodiac.svg", alt: "", class: "zodiac"%>
  </div>

  <div class="border-bottom mb-2">
    <h4 >Today - <%= Date.today.strftime("%B %d, %Y") %></h4>
  </div>

  <div>
    <p><%= @daily_horoscope %></p>
  </div>
</div>
