  <div class="container-dashboard">
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.rising.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>↑</em> ASCENDANT</div>
      <div class ="col-2 padding border"><h3>1</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[1]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[1].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[1].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[2]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[2].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[2].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[3]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[3].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[3].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[4]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[4].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[4].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[5]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[5].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[5].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[6]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[6].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[6].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[7]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[7].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[7].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[8]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[8].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[8].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[9]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[9].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[9].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[10]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[10].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[10].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= @my_zodiac[11]%></div>
      <div class ="col-4 padding pink-background"><%#= @my_zodiac[11].planet%></div>
      <div class ="col-2 padding border"><h3><%#= @my_zodiac[11].house%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
  </div>
