  <div class="container-dashboard">
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.rising.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>↑</em> ASCENDANT</div>
      <div class ="col-2 padding border"><h3>1</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.pluto.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>♇</em> PLUTON</div>
      <div class ="col-2 padding border"><h3>2</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.moon.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>☽</em> LUNE</div>
      <div class ="col-2 padding border"><h3>3</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.uranus.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>♅</em> URANUS</div>
      <div class ="col-2 padding border"><h3>4</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.neptune.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>♆</em> NEPTUNE</div>
      <div class ="col-2 padding border"><h3>5</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.mars.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>♂︎</em> MARS</div>
      <div class ="col-2 padding border"><h3>6</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.jupiter.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>♃</em> JUPITER</div>
      <div class ="col-2 padding border"><h3>7</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.venus.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>♀︎</em> VENUS</div>
      <div class ="col-2 padding border"><h3>7</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.mercure.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>☿</em> MERCURE</div>
      <div class ="col-2 padding border"><h3>8</h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%#= currentuser.sun.capitalize %></div>
      <div class ="col-4 padding pink-background"><em>☉</em> SOLEIL</div>
      <div class ="col-2 padding border"><h3>8</h3></div>
      <div class ="col-1 padding"></div>
    </div>
  </div>
