// Define variables for your color scheme

// For example:
$blue: #2E3A59;
<<<<<<< HEAD
$violet: #4B00AB;
=======
$violet_dark: #510FAE;
$violet: #9670D6;
>>>>>>> master
$purple: #B958A5;
$pink: #FF5677;
$yellow: #FF5677;
$green: #FF5677;
$red: #FF1700;
$orange: #FF5677;
$gray: #0E0000;
$light-gray: #F4F4F4;


$violet_old: #9145B6;
