$blue: #2E3A59;
$blue_ch: #4C3F91;
$blue_light: #b7c7ee;

$violet_dark: rgb(81, 15, 174);
$violet_light: rgba(150, 112, 214, 0.3);

$violet_ch: #9145B6;
$purple: rgb(185, 88, 165);

$pink: #FF5677;

$red: #FF1700;
$orange: orange;
$yellow: yellow;
$green: green;

$gray: #0E0000;
$light-gray: #F4F4F4;

// Palette Color Hunt:
$blue_ch: #4C3F91;
$violet_ch: #9145B6;
$purple_ch: #B958A5;
$pink_ch: #FF5677;
