// Define variables for your color scheme

// For example:
$blue: #2E3A59;
$violet: #4B00AB;
$purple: #B958A5;
$pink: #FF5677;
$yellow: #FF5677;
$green: #FF5677;
$red: #FF5677;
$orange: #FF5677;
$gray: #0E0000;
$light-gray: #F4F4F4;
