.profiles {
  position: relative;
  width: 390px;
  height: 700px;
}

.profiles::before {
  content:'Plus rien à matcher...';
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.profile {
  position: relative;
  left:0px;
  top:0px;
  width: 95vw;
  border-radius: 12px;
  // overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor:pointer;
}

.profile-image{
  height: 700px;
  width: 390px;
  border-radius: 12px;
  border: solid 1px black;
}

.profile-infos {
  padding:12px;
  position:absolute;
  bottom:0px;
  background:linear-gradient(0deg, black, transparent);
  width: 100%;
  border-radius: inherit;
}
.profile-match-score {
  border: solid black 1px;
  border-radius: 50%;
  padding: 13px;
  width: 50px;
  position: relative;
  bottom: 420px;
  left: 283px;
  background: linear-gradient(90deg, rgba(232,170,218,1) 0%, rgba(255,209,202,1) 0%, rgba(169,193,254,1) 100%, rgba(251,247,149,1) 100%);
}
.profile-details {
  border: solid black 1px;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  position: relative;
  left: 290px;
  background: linear-gradient(90deg, rgba(232,170,218,1) 0%, rgba(255,209,202,1) 0%, rgba(169,193,254,1) 100%, rgba(251,247,149,1) 100%);
}

.profile-name {
  color:white;
  font-family: "Roboto";
  font-weight: bold;
  font-size:22px;
}
.profile-description {
  color:white;
  font-size:13px;
  overflow:hidden;
}

.profile-match {
  transition: .4s;
  transform: translateX(1500px) translateY(600px) rotate(90deg);
}

.profile-next {
  transition: .4s;
  transform: translateX(-1500px) translateY(600px) rotate(-90deg);
}

.profile-back{
  transition: .4s;
}

.profile-matching::after, .profile-nexting::after {
  content:'MATCH';
  font-weight: bold;
  font-size:28px;
  padding:8px 12px;
  border:solid 2px green;
  color:rgb(29, 141, 29);
  background: rgba(0, 0, 0, 0.371);
  position: absolute;
  top:24px;
  right:12px;
  border-radius: 4px;
  transform:rotate(24deg);
}

.profile-nexting::after {
  content:'NEXT';
  border:solid 2px red;
  color: red;
}




#backgroundcolor {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #b293c0;
  background: rgb(223, 226, 241);
  background: radial-gradient(circle, rgb(204, 211, 243) 0%, rgb(242, 210, 216) 100%);
}

div.fas.fa-ban::before{
  font-size:40px;
  padding: 10px;
  color: red;
  background-color: white;
  border-radius: 55%;
  border: solid rgb(5, 5, 5) 2px;
  box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.58);
-webkit-box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.58);
}

div.fas.fa-heart::before{
  font-size:40px;
  padding: 10px;
  color: rgb(59, 154, 81);
  // background-color: transparent;
  background-color: white;
  border-radius: 55%;
  border: solid 2px rgb(7, 7, 7);
  box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.58);
  -webkit-box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.58);
}



.swipe-buttons {
  position: relative;
  bottom: 30px;
}



h1 {
  // background: #959595;
  // background: linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: black;
  font-family: "Roboto";
}
