<div class="position-relative">
  <div data-score-target="closeModalBtn" class="text-white position-absolute top-0 start-100 translate-middle badge rounded-pill background-violet">x</div>
  <div class= "text-center">
    <p >Your score is </p>
    <div id="matchAlert" data-score-target="modalbody"></div>
    <br>
    <a href="#" class="btn text-white" data-score-target="startConversationBtn">Send to
    <br>
    your friend</a>
  </div>
</div>
