<h1>index (swipe a gauche ou a droite)</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <% @users.each do |user| %>
      <div class="carousel-item active">

        <!-- Card of user-->
        <div class="user d-flex flex-column">

          <!-- Photo of user -->
          <%= cl_image_tag user.photos.first.key, height: 300, width: 300, crop: :fill %>

          <!-- User infos-->
          <div>
            <h2><%= user.username %></h2>
          </div>

        </div>
      </div>
      <% end %>
  </div>
</div>
