<h1>index (swipe a gauche ou a droite)</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" data-controller="swipe">

    <% @users.each do |user| %>
      <div class="carousel-item" >

        <div class="d-flex flex-column" data-swipe-target="user" >

          <%= cl_image_tag user.photos.first.key, height: 300, width: 300, crop: :fill %>

          <div>
            <h2><%= user.username %></h2>
          </div>

        </div>
      </div>
    <% end %>

    <div class="swipe-buttons d-flex ">
      <div data-action="click->swipe#swipeLeft">Swipe Left</div>
      <div data-action="click->swipe#swipeRight">Swipe Rightt</div>
    </div>


  </div>
</div>
