
<p >It's an </p>
<div id="matchAlert">Astromatch!</div>
<%# <p id="matchUserInfos"><%= User.find(@match.mate.id).username %>

<%= link_to("Chat", chatroom_path(@match), class:"btn", "data-swipe-target":"startConversationBtn", id:"chatButton") %>
<p data-swipe-target="closeModalBtn" class="text-white">Keep Swiping</p>
