.chatroom-header {
  width: 100vw;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.chatroom-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.chatroom-header p {
  font-size: 12px;
  color: rgb(133, 133, 133);
  padding-top: 4px;
  margin: 0;
}

.chatroom-back-button {
  opacity: 0.5;
  position: absolute;
  top: 32px;
  left: 32px;
}

.match-date {
  font-style: "Manrope";
  text-align: center;
  font-size: 12px;
  color: rgb(200, 200, 200);
  margin-bottom: 16px;
}

.chatroom {
  // background: white;
  margin-top: 9px;
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

.send-container{
  position:relative;
  bottom: 0;
}

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    // overflow: scroll;
    overflow-y: auto;
    // padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    margin-bottom: 34px;

    .form-group {
      margin-bottom: 0;
    }
  }

  .btn {
    margin-left: 3px;
    height: 38px;
    border-radius: 5px;
  }

  .chatroom-send-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 19px;
    padding-right: 19px;
    margin-left: -1px;
    color: $white;
    background-color: $violet_dark;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 38px;
    border-color:$blue;
    border: 1px;
  }

  #message_content {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 3px;
  }
}
