.container-dashboard {
  background: white;
  margin: 5px 15px;
  // height: calc(100vh - 150px);
  flex-grow: 1;
  // border: 0.5px solid;
}

.border-blue {
  border: solid;
  border-color: $blue;
  border-width: 0.1em;
}

.grey-background {
  background: $blue;
  color: white;
}

.padding {
  padding: 0.5rem
}
