.navbar-menu {
  // width: 100vh;
  height: auto;
  padding: 32px 16px;
}

.navbar-screen {
  // background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vh;
  // height: 10vh;
}

// .navbar-container {
//   width: 100%;
//   display:flex;
//   justify-content: center;
//   align-items:center;
//   // background: $violet-dark;
// }

.navigation {
  width: 400px;
  height: 70px;
  background: rgb(255,255,255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 20px 20px 0 0
}

.navigation ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  padding: 0px 10px;
  width: 100%;

}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: rgb(156, 156, 156)
}

.navigation ul li.active a .icon {
  color: rgb(133, 30, 217);
}





.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
