// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// @import "@glidejs/glide/src/assets/sass/glide.core";
// @import "@glidejs/glide/src/assets/sass/glide.theme";


// Your CSS partials
@import "components/index";
@import "pages/index";

@import "matches/index";

//Font
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Manrope:wght@200&display=swap');

h {
  font-family: $headers-font
}

p {
  font-family: $body-font;
}

.z-1 {
  z-index: 1;
  * {
    z-index: 1;
  }
}

.z-0 {
  z-index: 0;
  inset: 0
}
