*, *::after, *::before{
  box-sizing: border-box;
}


.astrocrush-header {
  font-size: 32px;
  font-family: $headers-font;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  color: $violet_dark;
  width: 390px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
}

// NEW MATCHES

.matches-and-messages-container {
  display: block;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0px 12px;
  position: relative;
  h3 {
    color: $pink;
  }
}

.new-matches-container {
  display: block;
  margin-bottom: 48px;
  margin-top: 48px;
  li {
    position: relative;
  }
}

// Carousel

.match-photo {
  object-fit: cover;
  height: 135px;
  width: 114px;
  border-radius: 6px;
  position: relative;
}

.match-photo:hover {
  opacity: 1;
}

li {
  list-style: none;
}

li .glide__slide {
  position: relative;

}

.small-score-container {
  position: absolute;
}

// MESSAGES

.messages-container {
  display: block;
  margin-bottom: 24px;
}

.message-card {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e9e7e7;
  align-items: center;
  display: flex;
}

.message-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.message-text {
  padding-left: 16px;
}

.message-username {
  font-weight:bold;
  a {
    text-decoration: none;
    color: $gray;
  }
}

// .flux {
//   display: flex;
//   align-items: center;
//   margin-bottom: 8px;
//   background: white;
//   padding: 0;
//   // border: 1px solid black;
//   border: 1px solid rgb(235,235,235);
//   height: 572px;
//   width: calc(100% - 20px);
// }

.flux .msg-profile{
  flex-grow: 1;
  padding: 0 24px;
}

.flux {
  margin: 12px;
  line-height: 1.4;
}

.flux small {
  color: #999999;
  font-weight: bold;
}
.flux .flux-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

// .flux:hover .flux-actions {
//   opacity: 1;
// }

.flux .flux-actions a:hover {
  color: #555555;
}

// .card-index-info {
//   border: 1px solid black;
//   display: flex;
//   justify-content: space-between;
//   margin: 50px
// }



// .msg-profile{
//   position: relative;
//   width: 94vw;
// }

.msg-nom {
  display: -webkit-box;
}

.msg-card{
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent)
  overflow: hidden;
  height: 120px;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.msg-card .msg-nom{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

// .msg-nom {
//   display: -webkit-box;
// }

// .msg-card{
//   --bs-card-border-width: 1px;
//   --bs-card-border-color: var(--bs-border-color-translucent)
//   overflow: hidden;
//   height: 120px;
//   // background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }
// .msg-card .msg-nom{
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// - - - SCORE - - -

.small-score-container {
  width: 100px;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 47px;
}

$planet-size: 24px;

.small-score-planet-high {
  width: $planet-size;
  height: $planet-size;
  border-radius: 50%;
  // border: 1px solid #FFFFFF;
  // background: linear-gradient(138.63deg, red 19.63%, #510FAE 118.46%), #FFFFFF;
  background: radial-gradient(circle at calc(#{$planet-size} / 3) calc(#{$planet-size} / 3), red, #510FAE);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  line-height: $planet-size;
  position: relative;
  perspective: calc($planet-size * 5);
  transform-style: preserve-3d;
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.small-score-planet-mid-high {
  width: $planet-size;
  height: $planet-size;
  border-radius: 50%;
  // border: 1px solid #FFFFFF;
  // background: linear-gradient(138.63deg, rgb(255, 86, 119) 19.63%, #510FAE 118.46%), #FFFFFF;
  background: radial-gradient(circle at calc(#{$planet-size} / 3) calc(#{$planet-size} / 3), rgb(255, 86, 119), #510FAE);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  line-height: $planet-size;
  position: relative;
  perspective: calc($planet-size * 5);
  transform-style: preserve-3d;
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.small-score-planet-neutral {
  width: $planet-size;
  height: $planet-size;
  border-radius: 50%;
  // border: 1px solid #FFFFFF;
  // background: linear-gradient(138.63deg, #9670D6 19.63%, #510FAE 118.46%), #FFFFFF;
  background: radial-gradient(circle at calc(#{$planet-size} / 3) calc(#{$planet-size} / 3), #9670D6, #510FAE);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  line-height: $planet-size;
  position: relative;
  perspective: calc($planet-size * 5);
  transform-style: preserve-3d;
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.small-score-planet-mid-low {
  width: $planet-size;
  height: $planet-size;
  border-radius: 50%;
  // border: 1px solid #FFFFFF;
  // background: linear-gradient(138.63deg, rgb(183, 199, 238) 19.63%, #510FAE 118.46%), #FFFFFF;
  background: radial-gradient(circle at calc(#{$planet-size} / 3) calc(#{$planet-size} / 3), rgb(183, 199, 238), #510FAE);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  line-height: $planet-size;
  position: relative;
  perspective: calc($planet-size * 5);
  transform-style: preserve-3d;
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.small-score-planet-low {
  width: $planet-size;
  height: $planet-size;
  border-radius: 50%;
  // border: 1px solid #FFFFFF;
  // background: linear-gradient(138.63deg, rgb(210, 210, 210) 19.63%, #510FAE 118.46%), #FFFFFF;
  background: radial-gradient(circle at calc(#{$planet-size} / 3) calc(#{$planet-size} / 3), rgb(210, 210, 210), #510FAE);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  line-height: $planet-size;
  position: relative;
  perspective: calc($planet-size * 5);
  transform-style: preserve-3d;
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.small-score {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-weight: 500;
  margin: 0;
}
